USE [master]
GO
/****** Object:  Database [OgrenciDB]    Script Date: 20.4.2021 12:01:41 ******/
CREATE DATABASE [OgrenciDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OgrenciDB', FILENAME = N'C:\Users\baris\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\OgrenciDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OgrenciDB_log', FILENAME = N'C:\Users\baris\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\OgrenciDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OgrenciDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OgrenciDB]
GO
USE [OgrenciDB]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 20.4.2021 12:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciBilgileri]    Script Date: 20.4.2021 12:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciBilgileri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NULL,
	[Soyadi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OgrenciBilgileri] ON 

INSERT [dbo].[OgrenciBilgileri] ([Id], [Adi], [Soyadi]) VALUES (1, N'Veli', N'Tüzel')
INSERT [dbo].[OgrenciBilgileri] ([Id], [Adi], [Soyadi]) VALUES (2, N'Barış', N'Ertuğrul')
INSERT [dbo].[OgrenciBilgileri] ([Id], [Adi], [Soyadi]) VALUES (3, N'Ayşe', N'Tüzel')
SET IDENTITY_INSERT [dbo].[OgrenciBilgileri] OFF
GO
USE [master]
GO
